.header {
    background-size: cover;
    background-color: black;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(8, [col-start] 1fr [col-end]);

    &__menu-container {
        margin: 4rem 0 4rem 5%;
        grid-column: col-start 4 / -1;
    }

    &__logo {
        align-self: center;
        justify-self: center;
    }
}
