.navigation {
    &__nav {
        background: rgba(255, 255, 255, 0.04);
        -moz-backdrop-filter: blur(26px);
        backdrop-filter: blur(26px);
        position: relative;

        &::before {
            content: "";
            background-color: $color-white;
            height: 1px;
            width: 43%;
            position: absolute;
            top: 50%;
            left: -38%;
            opacity: 0.25;
            mix-blend-mode: normal;

            @media only screen and (max-width: $bp-largest){
                display: none;
            }
        }
    }

    &__list {
        padding: 0 13%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        list-style: none;
        width: 100%;
    }

    &__item {
        padding: 4rem 0;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        transition: .2s all;

        &:hover {
            border-bottom: 3px solid rgba($color-white, 0.5);
        }

        &:active,
        &:focus {
            border-bottom: 3px solid $color-white;
        }

        @media only screen and (max-width: $bp-large){
            span{
                display: none;
            }
        }
    }
}
