<section class="destination__main-text">

    <h1 class="heading-secondary">Mars</h1>

    <p class="paragraph">Don’t forget to pack your hiking boots. 
        You’ll need them to tackle Olympus Mons, the tallest
        planetary mountain in our solar system. It’s two and a 
        half times the size of Everest!</p>

    <div class="destination__information">
        <div class="destination__distance-text">
            <p class="subheading-secondary">AVG. DISTANCE</p>
            <p class="subheading-primary">225 MIL. KM</p>
        </div>
        <div class="destination__travel-text">
            <p class="subheading-secondary">EST. TRAVEL TIME</p>
            <p class="subheading-primary">9 MONTHS</p>
        </div>
    </div>
</section>