<div class="app-crew">
    <h4 class="heading-quaternary crew__commander-text">
        PILOT
    </h4>

    <h3 class="heading-tertiary">
        Victor Glover
    </h3>

    <p class="paragraph">
        Pilot on the first operational flight of 
        the SpaceX Crew Dragon to the International Space Station. Glover is a
        commander in the U.S. Navy where he pilots an 
        F/A-18.He was a crew member of Expedition 64, and served as a
        station systems flight engineer.
    </p>

</div>

<img src="../../../assets/crew/image-victor-glover.png" alt="Victor Glover image" class="crew__image">