<img src="../../assets/destination/image-europa.png" alt="Moon Image destination" class="destination__image">

<section class="destination__main-text">

    <h1 class="heading-secondary">Europa</h1>

    <p class="paragraph">The smallest of the four Galilean moons orbiting Jupiter, 
        Europa is a winter lover’s dream.
        With an icy surface, it’s perfect for a bit of ice skating, 
        curling, hockey, or simple relaxation in your snug
        wintery cabin.</p>

    <div class="destination__information">
        <div class="destination__distance-text">
            <p class="subheading-secondary">AVG. DISTANCE</p>
            <p class="subheading-primary">628 MIL. KM</p>
        </div>
        <div class="destination__travel-text">
            <p class="subheading-secondary">EST. TRAVEL TIME</p>
            <p class="subheading-primary">3 YEARS</p>
        </div>
    </div>
</section>