<section class="technology__main-text">
    <p class="nav-text">The terminology</p>
    <h3 class="heading-tertiary">SPACE CAPSULE</h3>
    <p class="paragraph">
        A space capsule is an often-crewed spacecraft 
        that uses a blunt-body reentry capsule to reenter the Earth's
        atmosphere without wings. Our capsule is where 
        you'll spend your time during the flight. It includes a space
        gym, cinema, and plenty of other activities to keep you entertained.
    </p>
</section>

<img src="../../../assets/technology/image-space-capsule-portrait.jpg" alt="Launch Vehicle image"
    class="technology__image">