<h5 class="heading-quinary crew__meet-text">
    <span style="opacity: .25; font-weight: 700;">02</span> Meet your crew
</h5>

<div class="app-crew">
    <h4 class="heading-quaternary crew__commander-text">
        COMMANDER
    </h4>

    <h3 class="heading-tertiary">
        DOUGLAS HURLEY
    </h3>

    <p class="paragraph">
        Douglas Gerald Hurley is an American engineer,
        former Marine Corps pilot and former NASA astronaut. He launched
        into space for the third time as commander of Crew Dragon Demo-2.
    </p>

</div>

<img src="../../assets/crew/image-douglas-hurley.png" 
alt="Douglas Hurley image" class="crew__image">