// COLORS
$color-primary: #0B0D17;
$color-secondary: #D0D6F9;
$color-white: #FFFF;

// FONT
$font-primary: "Bellefair", sans-serif;
$font-secondary: 'Barlow Condensed', sans-serif;
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
