app-destination {
    align-self: center;
    grid-row: 2 / -1;
    grid-column: col-start 1 / -1;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr [img-start] 44.5rem [img-end] 1fr [main-start] 43rem [main-end] 1fr;

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: [main-start] 100% [main-end];
    }
}

app-moon,
app-mars,
app-europa,
app-titan {
    align-self: center;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(2, min-content) 8rem;
    grid-template-columns: 1fr [img-start] 44.5rem [img-end] 1fr [main-start] 43rem [main-end] 1fr;

    @media only screen and (max-width: $bp-large) {
        grid-row-start: 4;
        grid-template-columns: 1fr [text-start] minmax(min-content, 75%) [text-end] 1fr;
        justify-self: center;
    }
}

.destination {
    &__pick-text {
        animation: moveInRight 0.7s ease-out;
        grid-row-start: 1;
        grid-column-start: img-start;

        @media only screen and (max-width: $bp-large) {
            padding-bottom: 5rem !important;
            margin-left: 4%;
            grid-column-start: main-start;
        }

        @media only screen and (max-width: $bp-medium) {
            margin: 0;
            text-align: center;
        }
    }

    &__list {
        animation: moveInRight 1s ease-out;
        grid-column: main-start;
        grid-row-start: 1;
        display: flex;
        justify-content: start;
        align-items: center;
        list-style: none;
        align-self: flex-end;

        @media only screen and (max-width: $bp-large) {
            grid-row-start: 3;
            justify-content: center;
            align-self: center;
            margin-top: 6rem;
        }

        @media only screen and (max-width: $bp-medium) {
            margin-top: 3rem;
        }
    }

    &__item {
        cursor: pointer;
        color: #d0d6f9;
        align-self: stretch;
        transition: 0.2s all;
        padding-bottom: 1rem;
        border-bottom: 3px solid transparent;
    }

    &__item:hover {
        border-bottom: 3px solid rgba($color-white, 0.5);
    }

    &__item:active,
    &__item:focus {
        color: $color-white;
        border-bottom: 3px solid $color-white;
    }

    &__item:focus-visible {
        outline: none;
    }
    &__item:not(:last-of-type) {
        margin-right: 3rem;
    }

    &__image {
        animation: moveInRight 2s ease-out;
        grid-column-start: img-start;
        grid-row-start: 2;
        width: 44rem;

        @media only screen and (max-width: $bp-large) {
            grid-column-start: main-start;
            justify-self: center;
            width: 35rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 17rem;
        }
    }

    &__main-text {
        animation: moveInRight 0.7s ease-out;
        grid-column: main-start;
        grid-row-start: 2;

        @media only screen and (max-width: $bp-large) {
            grid-column: text-start / text-end;
            text-align: center;
        }
    }

    &__information {
        display: flex;
        justify-content: space-between;

        margin-top: 5rem;
        padding-top: 3rem;
        border-top: 1px solid #383b4b;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            margin-top: 3rem;
        }
    }

    &__distance-text {
        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 2rem;
        }
    }
    &__pick-text {
        padding-bottom: 10rem;
    }
}
