app-tech {
    align-self: center;
    grid-row: 2 / -1;
    grid-column: col-start 2 / -1;
    display: grid;
    grid-template-rows: repeat(2, min-content) 8rem;
}
.app-technology {
    display: grid;
    grid-column-gap: 8rem;
    grid-template-columns:
        [menu-start] min-content
        [menu-end main-start] 1fr [main-end];
}

app-launch-vehicle, app-spaceport, app-space-capsule {
    grid-row-start: 1;
    animation: moveInLeft 0.7s ease-out;
    grid-column: main-start / -1;
    display: grid;
    grid-template-rows: minmax(52.7rem, min-content);
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10rem;
}
.technology {
    &__space-text {
        animation: moveInRight 0.7s ease-out;
        width: 35rem;
    }

    &__navigation {
        grid-row-start: 1;
        grid-column: menu-start / menu-end;
        align-self: center;
        animation: moveInRight 0.7s ease-out;
    }

    &__list {
        list-style: none;
    }

    &__item {
        border: 1px solid rgba($color-white, 0.25);
        border-radius: 100%;
        width: 8rem;
        height: 8rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .2s all;
        
        &:not(:last-of-type) {
            margin-bottom: 3rem;
        }

        &:active {
            background-color: $color-white;
            color: black;
        }
    }

    &__main-text {
        grid-row-start: 1;
        grid-column-start: 1;
        align-self: center;
        color: #d0d6f9;

        .heading-tertiary {
            color: $color-white;
        }
    }

    &__image {
        grid-column-start: 2;
    }
}

.activated {
    background-color: $color-white;
    color: black;
}