
app-tech{
    align-self: center;
    grid-row: 2 / -1;
    grid-column: col-start 2 / -1;
    display: grid;
    grid-template-rows: repeat(2, min-content);
}
.app-technology{
    display: grid;
    grid-column-gap: 8rem;
    grid-template-columns: [menu-start] min-content 
    [menu-end main-start] 1fr [main-end];
}

.app-technology2{
    grid-column: main-start / -1;
    display: grid;
    grid-template-columns: 4fr repeat(2, [col-start] 1fr [col-end]);
}
.technology{

    &__space-text{
        animation: moveInRight .7s ease-out;
    }

    &__navigation{
        grid-row-start: 1;
        grid-column: menu-start / menu-end;
        align-self: center;
    }

    &__list{
        list-style: none;
    }

    &__item{
        border: 1px solid rgba($color-white, .25);
        border-radius: 100%;
        width: 8rem;
        height: 8rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:not(:last-of-type){
            margin-bottom: 3rem;
        }

        &:active{
            background-color: $color-white;
            color: black;
        }
    }

    &__main-text{
        grid-row-start: 1;
        grid-column-start: 1;
        align-self: center;
        color: #D0D6F9;

        .heading-tertiary{
            color: $color-white;
        }
    }
    
    &__image{
        grid-column-start: col-start 2;
    }
}