app-tech {
    align-self: center;
    grid-row: 2 / -1;
    grid-column: col-start 2 / -1;
    display: grid;
    grid-template-rows: repeat(2, min-content) 8rem;

    @media only screen and (max-width: $bp-large) {
        grid-column: col-start 1/-1;
    }
}
.app-technology {
    display: grid;
    grid-column-gap: 8rem;
    grid-template-columns:
        [menu-start] min-content
        [menu-end main-start] 1fr [main-end] min-content;

    @media only screen and (max-width: $bp-large) {
        grid-row-gap: 5vh;
        grid-column-gap: 0;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: [main-start] 1fr [main-end];
    }

    .paragraph{

        @media only screen and (max-width: $bp-medium) {
            margin-top: 1.8rem;
        }
    }
}

app-launch-vehicle,
app-spaceport,
app-space-capsule {
    grid-row-start: 1;
    animation: moveInLeft 0.7s ease-out;
    grid-column: main-start / -1;
    display: grid;
    grid-template-rows: minmax(52.7rem, min-content);
    grid-template-columns: 1fr;

    @media only screen and (max-width: $bp-large) {
        grid-row-start: 3;
        grid-column: 1 / -1;
        grid-template-rows: min-content;
    }
}
.technology {
    &__space-text {
        animation: moveInRight 0.7s ease-out;
        width: 35rem;
        text-align: left;
        margin-left: 4%;

        @media only screen and (max-width: $bp-medium){
            margin: 0;
            text-align: center;
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    &__navigation {
        grid-row-start: 1;
        grid-column: menu-start / menu-end;
        align-self: center;
        animation: moveInRight 0.7s ease-out;

        @media only screen and (max-width: $bp-large) {
            grid-row-start: 2;
            grid-column: 1 / -1;
        }
    }

    &__list {
        list-style: none;
        @media only screen and (max-width: $bp-large) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__item {
        border: 1px solid rgba($color-white, 0.25);
        border-radius: 100%;
        width: 8rem;
        height: 8rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.2s all;

        @media only screen and (max-width: $bp-medium){
            width: 5rem;
            height: 5rem;
        }

        &:not(:last-of-type) {
            margin-bottom: 3rem;
            @media only screen and (max-width: $bp-large) {
                margin-bottom: 0;
                margin-right: 2.5rem;
            }

            @media only screen and (max-width: $bp-medium){
                margin-right: 2rem;
            }
        }

        &:active {
            background-color: $color-white;
            color: black;
        }

        &:hover {
            border: 1px solid rgba($color-white, 1);
        }
    }

    &__main-text {
        grid-row-start: 1;
        grid-column-start: 1;
        align-self: center;
        color: #d0d6f9;

        @media only screen and (max-width: $bp-large) {
            text-align: center;
            justify-self: center;
        }

        .heading-tertiary {
            color: $color-white;
        }

        .paragraph {
            width: 52rem;

            @media only screen and (max-width: $bp-medium){
                width: 85%;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    &__image {
        grid-column-start: 3;
        grid-row-start: 1;
        align-self: center;

        @media only screen and (max-width: $bp-extra-large) {
            width: 35rem;
        }
        @media only screen and (max-width: $bp-large) {
            width: 100vw;
            object-fit: cover;
            height: 45vh;
            grid-column-start: 1;
            animation: moveInLeft 0.7s ease-out;
        }

        @media only screen and (max-width: $bp-medium){
            height: 25vh;
        }
    }
}

.activated {
    background-color: $color-white;
    color: black;
}
