<section class="technology__main-text">
    <p class="nav-text">The terminology</p>
    <h3 class="heading-tertiary">Launch Vehicle</h3>
    <p class="paragraph">
        A launch vehicle or carrier rocket is a rocket-propelled
        vehicle used to carry a payload from Earth's
        surface to space, usually to Earth orbit or beyond.
        Our WEB-X carrier rocket is the most powerful in
        operation. Standing 150 metres tall, it's quite an
        awe-inspiring sight on the launch pad!
    </p>
</section>