<h5 class="heading-quinary destination__pick-text">
    <span style = "opacity: .25; font-weight: 700;">01</span> Pick your destination
</h5>

<ul class="destination__list">

    <li class="destination__item nav-text">Moon</li>
    <li class="destination__item nav-text">Mars</li>
    <li class="destination__item nav-text">Europa</li>
    <li class="destination__item nav-text">Titan</li>
</ul>

<img src="../../assets/destination/image-moon.png" 
alt="Moon Image destination" class="destination__image">

<section class="destination__main-text">

    <h1 class="heading-secondary">Moon</h1>

    <p class="paragraph">See our planet as you’ve never seen it before.
        A perfect relaxing trip away to help regain
        perspective and come back refreshed. While you’re there,
        take in some history by visiting the Luna 2 and Apollo
        11 landing sites.</p>

    <div class="destination__information">
        <div class="destination__distance-text">
            <p class="subheading-secondary">AVG. DISTANCE</p>
            <p class="subheading-primary">384,400KM</p>
        </div>
        <div class="destination__travel-text">
            <p class="subheading-secondary">EST. TRAVEL TIME</p>
            <p class="subheading-primary">3 DAYS</p>
        </div>
    </div>
</section>