<h5 class="heading-quinary destination__pick-text">
    <span style = "opacity: .25; font-weight: 700;">01</span> Pick your destination
</h5>

<img src="{{imgPath}}.png" alt="Moon Image destination" class="destination__image">

<ul class="destination__list">

    <li class="destination__item nav-text" routerLink = "moon">Moon</li>
    <li class="destination__item nav-text" routerLink = "mars">Mars</li>
    <li class="destination__item nav-text" routerLink = "europa">Europa</li>
    <li class="destination__item nav-text" routerLink = "titan">Titan</li>
</ul>

<router-outlet (activate) = "onActivate($event)"></router-outlet>