<div class="app-crew">
    <h4 class="heading-quaternary crew__commander-text">
        Flight Engineer
    </h4>

    <h3 class="heading-tertiary">
        Anousheh Ansari
    </h3>

    <p class="paragraph">
        Anousheh Ansari is an Iranian American engineer and 
        co-founder of Prodea Systems. Ansari was the fourth
        self-funded space tourist, the first self-funded woman to 
        fly to the ISS, and the first Iranian in space.
    </p>

</div>

<img src="../../../assets/crew/image-anousheh-ansari.png" alt="Anousheh image" class="crew__image">