<header class="header">
    <img src="../assets/shared/logo.svg" alt="Logo Space Tourism Website" class="header__logo">
    <div class="header__menu-container">
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><span style="margin-right: 1rem">00</span>Home</li>
                <li class="navigation__item"><span style="margin-right: 1rem">00</span>Home</li>
                <li class="navigation__item"><span style="margin-right: 1rem">00</span>Home</li>
                <li class="navigation__item"><span style="margin-right: 1rem">00</span>Home</li>
            </ul>
        </nav>
    </div>


    <section class="header__main-text">
        <h5 class="heading-quinary">SO, YOU WANT TO TRAVEL TO</h5>
        <h1 class="heading-primary">SPACE</h1>

        <p class = "paragraph">
            Let’s face it; if you want to go to space, you might as well
            genuinely go to outer space and not hover kind
            of on the edge of it. Well sit back, and relax because
            we’ll give you a truly out of this world experience!
        </p>
    </section>

    <div class="btn-explore">
        <h4 class="heading-quaternary">EXPLORE</h4>
    </div>
</header>