<header class="header" id = "header">
    <img src="../assets/shared/logo.svg" alt="Logo Space Tourism Website" class="header__logo">
    <div class="header__menu-container">
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item nav-text" routerLink = 'home'>
                    <span style="margin-right: 1rem; font-weight: 600;">00</span>
                    Home
                </li>
                <li class="navigation__item nav-text" routerLink = 'destination'>
                    <span style="margin-right: 1rem; font-weight: 600;">01</span>
                    Destination
                </li>
                <li class="navigation__item nav-text" routerLink = 'crew'>
                    <span style="margin-right: 1rem; font-weight: 600;">02</span>
                    Crew
                </li>
                <li class="navigation__item nav-text" routerLink = 'tech'>
                    <span style="margin-right: 1rem; font-weight: 600;">03</span>
                    Technology
                </li>
            </ul>
        </nav>
    </div>


    <router-outlet></router-outlet>
</header>