<section class="technology__main-text">
    <p class="nav-text">The terminology</p>
    <h3 class="heading-tertiary">SPACEPORT</h3>
    <p class="paragraph">
        A spaceport or cosmodrome is a site for 
        launching (or receiving) spacecraft, by analogy to the seaport for ships
        or airport for aircraft. Based in the 
        famous Cape Canaveral, our spaceport is ideally situated to take advantage
        of the Earth’s rotation for launch.
    </p>
</section>

<img src="../../../assets/technology/image-spaceport-portrait.jpg" alt="Launch Vehicle image"
    class="technology__image">