<section class="home__main-text">
    <h5 class="heading-quinary">SO, YOU WANT TO TRAVEL TO</h5>
    <h1 class="heading-primary">SPACE</h1>

    <p class="paragraph">
        Let’s face it; if you want to go to space, you might as well
        genuinely go to outer space and not hover kind
        of on the edge of it. Well sit back, and relax because
        we’ll give you a truly out of this world experience!
    </p>
</section>

<div class="btn-explore" routerLink = "../destination">
    <h4 class="heading-quaternary">EXPLORE</h4>
</div>