<img src="../../assets/destination/image-titan.png" alt="Moon Image destination" class="destination__image">

<section class="destination__main-text">

    <h1 class="heading-secondary">Titan</h1>

    <p class="paragraph">The only moon known to have a dense 
        atmosphere other than Earth, Titan is a home away from home
        (just a few hundred degrees colder!). As a bonus, you 
        get striking views of the Rings of Saturn.</p>

    <div class="destination__information">
        <div class="destination__distance-text">
            <p class="subheading-secondary">AVG. DISTANCE</p>
            <p class="subheading-primary">1.6 BIL. KM</p>
        </div>
        <div class="destination__travel-text">
            <p class="subheading-secondary">EST. TRAVEL TIME</p>
            <p class="subheading-primary">7 YEARS</p>
        </div>
    </div>
</section>