<div class="app-crew">
    <h4 class="heading-quaternary crew__commander-text">
        Mission Specialist
    </h4>

    <h3 class="heading-tertiary">
        MARK SHUTTLEWORTH
    </h3>

    <p class="paragraph">
        Mark Richard Shuttleworth is the founder and CEO of Canonical, 
        the company behind the Linux-based Ubuntu
        operating system. Shuttleworth became the first South African 
        to travel to space as a space tourist.
    </p>

</div>

<img src="../../../assets/crew/image-mark-shuttleworth.png" alt="Mark image" class="crew__image">